{% macro delete_modal(modal_id='deleteModal', title='Удалить объект', body='Вы действительно хотите удалить этот объект?', form_action='#') %}
<div class="modal fade" id="{{ modal_id }}" tabindex="-1" aria-labelledby="{{ modal_id }}Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ modal_id }}Label">{{ title }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body" id="deleteModalBody">
        {{ body }}
      </div>
      <div class="modal-footer">
        <form method="POST" action="{{ form_action }}" id="deleteModalForm">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
          <button type="submit" class="btn btn-danger">Подтвердить</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endmacro %}