{% extends 'base.html' %}

{% block title %}{{ 'Добавить' if action == 'add' else 'Редактировать' }} рецепт{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1 class="mb-4 text-center">{{ 'Добавить' if action == 'add' else 'Редактировать' }} рецепт</h1>
  <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
    {{ form.hidden_tag() }}

    <div class="mb-3">
      {{ form.title.label(class="form-label") }}
      {{ form.title(class="form-control") }}
    </div>

    <div class="mb-3">
      {{ form.description.label(class="form-label") }}
      {{ form.description(id="description", class="form-control", rows=4) }}
    </div>

    <div class="mb-3">
      {{ form.preparation_time.label(class="form-label") }}
      {{ form.preparation_time(class="form-control") }}
    </div>

    <div class="mb-3">
      {{ form.servings.label(class="form-label") }}
      {{ form.servings(class="form-control") }}
    </div>

    <div class="mb-3">
      {{ form.ingredients.label(class="form-label") }}
      {{ form.ingredients(id="ingredients", class="form-control", rows=4) }}
    </div>

    <div class="mb-3">
      {{ form.steps.label(class="form-label") }}
      {{ form.steps(id="steps", class="form-control", rows=4) }}
    </div>

    {% if action == 'add' %}
    <div class="mb-3">
      {{ form.images.label(class="form-label") }}
      {{ form.images(multiple=True, class="form-control") }}
    </div>
    {% endif %}

    <div class="d-grid">
      <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
    </div>
  </form>
</div>

<!-- EasyMDE -->
<script>
  window.addEventListener("DOMContentLoaded", () => {
    const minHeight = "120px"
    new EasyMDE({ element: document.getElementById("description"), minHeight, });
    new EasyMDE({ element: document.getElementById("ingredients"), minHeight, });
    new EasyMDE({ element: document.getElementById("steps"), minHeight, });
  });
</script>
{% endblock %}
